body
{
	background-size:100%;
    background-color:lightgreen;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}
/* index.php, login.php oraz rejstracja */
.index
{
    padding: 10px;
    background-color: rgb(113, 211, 126);
    width: 300px;
    text-align: center;
}
.linkrejestracji
{
    color: rgb(63, 63, 230);
    text-decoration: none;
}
.linkrejestracji:hover
{
    color: black;
    text-decoration: underline;
}
/*ten duży przycisk co nie chce się ustawić*/
.buttonprime
{
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 44px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttonprime span
{
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}
.buttonprime span:after
{
    font-size: 96px;
    content: '\00bb';
    position: relative;
    opacity: 0;
    top: 4px;
    right: -30px;
    transition: 0.5s;
}
.buttonprime:hover span
{
    padding-right: 25px;
}
.buttonprime:hover span:after
{
    opacity: 1;
    right: 0;
}
/*ten pasek na górze*/
.title
{
    font-weight: bold;
	background-color: pink;
	font-size: 28px;
    padding: 20px;
	text-align: center;
}
/*--z tym radio buttonem w ile.php----*/
.wybor
{
    text-align: center;
}
.radio-toolbar
{
    margin:5px;
}
.radio-toolbar label
{
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}
.radio-toolbar input[type="radio"] 
{
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-toolbar label:hover
{
    background-color: rgb(162, 196, 162);
    cursor: pointer;
}
.radio-toolbar input[type="radio"]:focus + label 
{
    border: 2px dashed #444;
}
.radio-toolbar input[type="radio"]:checked + label
{
    background-color: #bfb;
    border-color: #4c4;
}
/* przyciski na podstronach */
.button3
{
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: rgb(207, 235, 209); 
    color: black; 
    border: 3px solid rgb(150, 201, 150);
}
.button3:hover
{
    background-color: rgb(96, 197, 96);
    color: Black;
    border-color: rgb(58, 167, 58);
    text-decoration: underline; 
}
/* tabela */
.odpy1
{
    margin: 0 10px 0;
}
td
{
    border: 1px solid rgb(78, 78, 78);
}
/* tu jak błąd wywali */
.error
{
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* końcówka quizu */
.napis_end
{
    font-weight: bold;
    text-align: center;
    font-size: 120px;
}
.button_end
{
    text-align: center;
    position: relative;
    margin-left: auto;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: chartreuse;
    padding: 20px;
    font-size: 35px;
    transition-duration: 0.5s;
}
.button_end:hover
{
    background-color:green;
    transition-duration: 0.5s;
    cursor: pointer;
}
.wynik
{
    top: 104px;
    display: block;
    position:absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    background-color:rgb(74, 187, 102);
    width: 300px;
}
.procent
{
    top: 154px;
    display: block;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    background-color:rgb(52, 192, 157);
    width: 300px;
}
.link
{
    top:125px;
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
}
/* odpowiedzi Quizu */
.radio-quiz
{
    margin:5px;
}
.radio-quiz label
{
    display: block;
    background-color: #ddd;
    font-size: 16px;
    padding: 20px;
	text-align: center;
    border-radius: 4px;
}
.radio-quiz input[type="radio"] 
{
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-quiz label:hover
{
    background-color: rgb(162, 196, 162);
    cursor: pointer;
}
.radio-quiz input[type="radio"]:checked + label
{
    background-color: #bfb;
    border-color: #4c4;
}
/* Wyniki quizu */
.wynikneg
{
    background-color: rgb(111, 185, 104);
}
.wynikpoz
{
    background-color: rgb(0, 107, 0);
}
.wynikuser
{
    background-color: rgb(187, 50, 50)
}
.odpy2
{
    width: 100%;
}
.Dodaj
{
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 75px;
    margin: 4px 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: rgb(207, 235, 209); 
    color: black; 
    border: 3px solid rgb(150, 201, 150);
    width:400px;
}
.Dodaj:hover
{
    background-color: rgb(96, 197, 96);
    color: Black;
    border-color: rgb(58, 167, 58);
}
.Prime
{
    width: 100%;
}
.right
{
    float: right;
    background-color: green;
    height: 200px;
    width: 322px;
    color: white;
    font-size: 25px;
    margin: 0;
    text-align: center;
}
.left
{
    float: left;
    margin:0px;
    width: 420px;
}
.mid
{
    float: left;
    text-align: center;
}
.G_logoutB
{
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: rgb(221, 198, 93); 
    color: black; 
    border: 3px solid rgb(248, 191, 127);
}
.G_logoutB:hover
{
    background-color: rgb(248, 143, 83);
    color: Black;
    border-color: rgb(240, 104, 42);
}